---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Pilkington";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>...home page</h2>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>